body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.note {
  color: rgb(34, 146, 77);
  background: rgb(189, 243, 188);
  font-size: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(134, 201, 160);
  border-radius: 2px;
  padding: 10px;
  margin-bottom: 10px;
}

.error {
  color: rgb(146, 34, 34);
  background: rgb(243, 188, 188);
  font-size: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(201, 134, 134);
  border-radius: 2px;
  padding: 10px;
  margin-bottom: 10px;
}